<div class="page-content">
  <div class="row">
    <div class="page-title">สร้างบทความ</div>
  </div>
  <app-success-alert #successAlert></app-success-alert>
  <form [formGroup]="postForm" novalidate>
    <div class="row">
      <div class="col-9">
        <div class="row">
          <input type="text" class="form-control form-control-lg" formControlName="title" placeholder="ใส่ชื่อหัวข้อที่นี่" (blur)="autoCreateSlug()">
        </div>
        <div class="row">
          <div class="input-group mb-1 mt-1">
            <div class="input-group-prepend">
              <div class="input-group-text">{{ env.slugBase }}</div>
            </div>
            <input type="text" class="form-control" formControlName="slug" placeholder="ใส่คีย์สำหรับ URL ที่นี่" (blur)="autoCreateSlug()">
          </div>
        </div>
        <div class="row mt-2 text-editor-container">
          <quill-editor [placeholder]="'ใส่ข้อความที่นี่'" formControlName="body"></quill-editor>
        </div>
      </div>
      <div class="col-3 pr-0">
        <div class="card">
          <div class="card-body">
            <label>สถานะ:</label> {{ postForm.controls['status'].value | dashIfEmpty }}
            <br>
            <label>บันทึกเมื่อ:</label> {{ postForm.controls['updated_timestamp'].value | thDate: 'd MMM tttt' | dashIfEmpty }}
            <hr>
            <button class="btn btn-secondary" type="submit" (click)="saveDraft()" [disabled]="isSaving">
              <i class="fa fa-pencil fw"></i> ร่าง
            </button>
            <button class="btn btn-primary float-right" type="submit" (click)="publishPost()" [disabled]="isSaving">
              <i class="fa fa-cloud fw"></i> เผยแพร่
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<app-loading-modal #loadingModal message="กำลังโหลด..."></app-loading-modal>
<app-loading-modal #savingModal message="กำลังบันทึก..."></app-loading-modal>
