<div class="page-content">
  <div class="row">
    <div class="page-title">ยกเลิกสมาชิก</div>
  </div>
  <div class="alert alert-danger" role="alert">
    <p>การยกเลิกสมาชิก จะทำให้คุณไม่สามารถกลับเข้ามาในระบบได้อีก คุณอาจจะต้องทำการสมัครสมาชิกใหม่เพื่อกลับเข้าสู่ระบบ คลิกที่ปุ่มยืนยันการยกเลิกสมาชิก
      เพื่อยกเลิกความเป็นสมาชิกของคุณ
    </p>
    <button id="button-confirm-leave" class="btn btn-danger" type="submit" (click)="leave()">
      <i class="fa fa-user-times fw"></i> ยืนยันการยกเลิกสมาชิก
    </button>
  </div>
</div>
