<div class="card" id="categoryAccordion">
  <a class="accordion-toggler collapsed" data-toggle="collapse" data-target="#categoryForm" aria-expanded="false" aria-controls="categoryForm">
    <div class="card-header" id="categoryFormHeader">
      สร้างหมวดหมู่ใหม่
      <i class="fa fa-fw toggler"></i>
    </div>
  </a>
  <div id="categoryForm" class="collapse" aria-labelledby="categoryFormHeader" data-parent="#categoryAccordion">
    <form [formGroup]="categoryForm" novalidate>
      <div class="card-body">
        <div class="form-group">
          <input type="text" class="form-control" formControlName="title" placeholder="ใส่ชื่อหมวดหมู่ใหม่ที่นี่">
        </div>
        <button type="submit" class="btn btn-primary" (click)="saveCategory()">บันทึกหมวดหมู่</button>
      </div>
    </form>
  </div>
</div>
