<div class="section-content">
  <div class="row">
    <div class="section-title">สร้างหมวดหมู่ใหม่</div>
  </div>
  <div class="row">
    <div class="col-12 pl-0">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="categoryForm" novalidate>
            <div class="form-group">
              <label for="categoryId" class="label-primary">ชื่อหมวดหมู่</label>
              <input type="text" class="form-control" id="categoryId" formControlName="title" placeholder="ใส่ชื่อหมวดหมู่ใหม่ที่นี่">
            </div>
            <button type="submit" class="btn btn-primary" (click)="saveCategory()" [disabled]="isSaving">บันทึกหมวดหมู่</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
