<nav class="col-md-2 d-none d-md-block bg-dark sidebar">
  <div class="sidebar-sticky">
    <h5 class="sidebar-heading d-flex px-3 mt-1 mb-4 text-muted">
      <span>ล็อกอินด้วยชื่อ {{ currentUser }} </span>
    </h5>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a id="menu-dashboard" class="nav-link" routerLinkActive="active" routerLink="/user/dashboard">
          <i class="fa fa-home fa-fw"></i>
          แดชบอร์ด
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a id="menu-post" class="nav-link" routerLinkActive="active" routerLink="/user/posts">
          <i class="fa fa-file-text-o fa-fw"></i>
          บทความ
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a id="menu-category" class="nav-link" routerLinkActive="active" routerLink="/user/category">
          <i class="fa fa-cubes fa-fw"></i>
          หมวดหมู่
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-separator"></li>
      <li class="nav-item">
        <a id="menu-leave" class="nav-link" routerLinkActive="active" routerLink="/user/leave">
          <i class="fa fa-user-times fa-fw"></i>
          ยกเลิกสมาชิก
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/user/gallery">
          <i class="fa fa-picture-o fa-fw"></i>
          รูปภาพ
          <span class="sr-only">(current)</span>
        </a>
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-shopping-cart fa-fw"></i>
          Products
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-users fa-fw"></i>
          Customers
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-bar-chart fa-fw"></i>
          Reports
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-cubes fa-fw"></i>
          Integrations
        </a>
      </li> -->
    </ul>

    <!-- <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>Saved reports</span>
      <a class="d-flex align-items-center text-muted" href="#">
        <i class="fa fa-plus-square-o fa-fw"></i>
      </a>
    </h6>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-file-text-o fa-fw"></i>
          Current month
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-file-text-o fa-fw"></i>
          Last quarter
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-file-text-o fa-fw"></i>
          Social engagement
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-file-text-o fa-fw"></i>
          Year-end sale
        </a>
      </li>
    </ul> -->
  </div>
</nav>
