<table id="posts-list" class="table table-hover mt-2">
  <thead>
    <tr class="row">
      <th scope="col" class="col-1 text-center">
        <input type="checkbox">
      </th>
      <th scope="col" class="col-6">หัวข้อ</th>
      <th scope="col" class="col-2 text-center">ผู้เขียน</th>
      <th scope="col" class="col-1 text-center">สถานะ</th>
      <th scope="col" class="col-2 text-center">วันที่</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="postsData && postsData.length > 0">
      <app-post-row *ngFor="let post of postsData | orderBy: ['-created_timestamp']" [post]="post"></app-post-row>
    </ng-container>
    <ng-container *ngIf="postsData && postsData.length === 0">
      <tr class="row">
        <td scope="col" colspan="5" class="col-12 text-center">
          ไม่มีข้อมูล
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
