<table class="table table-hover mt-2">
  <thead>
    <tr class="row">
      <th scope="col" class="col-1 text-center">
        <input type="checkbox">
      </th>
      <th scope="col" class="col-6">หัวข้อ</th>
      <th scope="col" class="col-2 text-center">ผู้เขียน</th>
      <th scope="col" class="col-1 text-center">สถานะ</th>
      <th scope="col" class="col-2 text-center">วันที่</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of postsData | orderBy: ['-created_timestamp']" class="row">
      <td class="col-1 text-center">
        <input type="checkbox">
      </td>
      <td class="col-6 post-title">{{ post.title }}
        <br>
        <div class="post-action">
          <a href="#" (click)="edit(post)">แก้ไข</a>
        </div>
      </td>
      <td class="col-2 text-center">{{ post.author }}</td>
      <td class="col-1 text-center">{{ post.status }}</td>
      <td class="col-2 text-center">{{ post.created_timestamp | date }}</td>
    </tr>
  </tbody>
</table>
