<table class="table table-hover mt-2">
  <thead>
    <tr class="row">
      <th scope="col" class="col-9">หมวดหมู่</th>
      <th scope="col" class="col-3 text-center">จำนวนโพสต์</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="categoriesData.length > 0">
      <app-category-row *ngFor="let cat of categoriesData | orderBy: ['-created_timestamp']" [category]="cat"></app-category-row>
    </ng-container>
    <ng-container *ngIf="categoriesData.length === 0">
      <tr class="row">
        <td scope="col" colspan="5" class="col-12 text-center">
          ไม่มีข้อมูล
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
