.category-row {
  min-height: 64px;
}

.category-title {
  font-weight: bold;
  color: #004668;
}

.trash {
  color: #a00;
}

.category-action ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.category-action ul li {
  float: left;
  padding-left: 5px;
  padding-right: 5px;
}

.category-action ul li:first-child {
  padding-left: 0px;
}
